section.focus
  .container
    .focus__wrap
      h2.title=i18n.focus.title
      div.focus__text!=i18n.focus.text
      .focus__block
        div=i18n.focus.feedback
        div.focus__socials
          a.external-link(href="/link") #scalalove
          a.external-link(href="/link")
            include ../icons/slack.svg
            span our slack
