header.header
  .header__row
    a(href="#").header__logo
      img(src="img/logo.svg", alt="")
    nav.nav
      button.nav__button
        include ../icons/burger.svg
      ul
        each item in i18n.menu
          li: a=item.title