section.leadership
  .container
    h2.title=i18n.leadership.title
    p.leadership__text=i18n.leadership.text
    .leadership__row
      .leadership__img
        img(src="/img/leadership/leadership.png", alt="")
      .leadership__block
        p!=i18n.leadership.quote
