section.youtube#youtube
  .container
    h2.title=i18n.youtube.title
    .desc=i18n.youtube.text
    .socials
      a(href="https://www.youtube.com/c/Konfy/about" target="_blank" rel="nofollow noopener")
        include ../icons/youtube.svg
    .videoWrapper
      <iframe width="560" height="315" src="https://www.youtube.com/embed/Z0w_pITUTyU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>