.about 
  background: --background
  padding 56px 0
  @media regular
    padding 140px 0
 
.about .desc
  @media medium
    max-width: 720px
    margin: 0 auto
    font-size: 36px;

.conferences
  padding 56px 0
  
.podcasts
  padding 56px 0