.community 
  background --background
  padding 56px 0

.community__img img
  width 100%
.community__row
  font-family: "Montserrat";
  @media regular
    display flex
  
.community__list
  padding 0
  margin 0
  @media medium
    display flex
    flex-wrap: wrap

.community__list li
  max-width 256px
  display block
  @media medium
    width 50%

.community__block
  @media medium
    width 50%