.focus 
  background: --background
  padding: 56px 0

.focus__wrap
  max-width: 716px
  margin: 0 auto

.focus__wrap .title
  @media regular
    margin 0 -24px

.focus__text
  font-style: italic;
  line-height: 1.5;
  letter-spacing: 0.01em;
  margin: 20px 0 40px
  color: --text;
  
.focus__socials .external-link 
  margin-right 16px
.focus__socials .external-link svg 
  width 16px
  vertical-align: middle
  