.footer 
  background: --background
  text-align center
  font-size: 14px;
  letter-spacing: 0.25px;
  color: rgba(0, 0, 0, 0.6);
  border-top: 1px solid #EBEFF2
  &:after
    content: ''
    display block
    height 5px
    width 100%
    background: linear-gradient(90deg, #3494E6 0%, #EC6EAD 100%);

.footer p
  margin 6px 0