.header 
  border-bottom 1px solid #EBEFF2
  position fixed
  z-index 9
  top 0
  left 0
  width 100%
  background: #fff

.header__row
  display flex
  align-items: center
  max-width 1440px
  margin: auto

.header__logo
  display block
  padding 0 16px
  box-sizing: border-box

.header__logo img 
  display block

.nav
  margin-left: auto
  @media medium
    flex 1 0 0

.nav ul
  margin 0 
  padding 0
  @media desktop
    display none
  @media medium
    display flex
    justify-content: space-between
.nav__button
  background: transparent
  border none 
  height 60px
  padding-right 16px

  @media medium
    display none

.nav li
  display block

.nav a
  display block
  height 60px
  color --text
  font-size: 14px;
  white-space: nowrap
  line-height 60px
  letter-spacing: 0.25px;
  padding 0 16px
  box-sizing: border-box
  cursor pointer
  &:hover
    color --accent
