.hero 
  background: url('/img/hero.svg') no-repeat center / auto 85%;

.hero__wrap
  height 375px
  display flex
  align-items center
  justify-content: center
  flex-direction: column
  @media medium
    height 100vh

.hero .desc
  @media medium
    font-size: 24px;

.hero .title
  margin 0 
  @media medium
    font-size: 55px;

.hero .btn 
  margin-top 32px