.leadership 
  padding 56px 0

.leadership__text
  text-align: center
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.01em;

.leadership__row
  @media medium
    display flex

.leadership__block
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.01em;