.partnership 
  text-align: center
  padding: 54px 0 60px
  @media small
    padding-top: 50px 
  @media regular
    padding 136px 0 150px
.partnership .desc
   max-width 780px
   line-height 1.4
   margin: 42px auto 16px 
.partnership .btn
  margin-top 30px
  