.services
  background: --background
  padding: 56px 0

.services__list
  margin 0
  padding 0
  @media regular
    display flex
    justify-content: center
    margin 0 -16px

.services__item
  display block
  @media regular
    padding 0 16px
    box-sizing: border-box

.services__card
  width 330px
  padding 16px 16px
  box-sizing: border-box
  background: #ffffff
  border-radius: 4px;
  height 100%
  
.services__img
  text-align: center

.services__title
  font-weight: 500;
  font-size: 24px;
  text-align: center
  color --title