@import "./general/vars.styl"
@import "./general/fonts.styl"
@import "./general/common.styl"

@import "./blocks/card.styl"

@import "./sections/header.styl"
@import "./sections/hero.styl"
@import "./sections/about.styl"
@import "./sections/services.styl"
@import "./sections/community.styl"
@import "./sections/youtube.styl"
@import "./sections/leadership.styl"
@import "./sections/focus.styl"
@import "./sections/partnership.styl"
@import "./sections/contacts.styl"
@import "./sections/footer.styl"
