// Colors
--accent = #109CF1
--hover = #21ABFF
--title = #334861
--text = #666666
--background = #F5F6F8

// Media
tiny = 'screen and (min-width: 375px)'
small = 'screen and (min-width: 620px)'
regular = 'screen and (min-width: 1024px)'
large = 'screen and (min-width: 1200px)'
huge = 'screen and (min-width: 1400px)'

phone = 'screen and (max-width: 599px)'
tablet = 'screen and (max-width: 619px)'
desktop = 'screen and (max-width: 1023px)'
